.tb-cart {
	width: 100%;
	border-collapse: collapse;
	margin-top: 86px;
}
.tb-cart th,
td {
	padding: 8px;
	text-align: center;
}
.tb-cart th {
	background-color: var(--primary-color);
	color: var(--while-color);
}

td > button {
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 6px 36px;
}
td > button:hover {
	background-color: var(--primary-color);
}
input[type="number"] {
	text-align: center;
}
tr td:nth-child(2) {
	display: flex;
	align-items: center;
}
tr td:nth-child(2) img {
	width: 46px;
	margin-right: 16px;
}
