.header-top {
  height: 50px;
}
.header-left {
  line-height: 50px;
  li {
    display: inline-block;
    margin-left: 50px;
  }
}
.header-right {
  float: right;
  line-height: 50px;
  span {
    color: $red;
  }
}
.header-nav {
  height: 90px;
  .logo {
    display: block;
    margin-top: 16px;
    img {
      width: 100px;
    }
  }
  .menu-list {
    display: inline-block;
    margin-left: 180px;
    li {
      display: inline-block;
      line-height: 90px;
      padding: 16px;
      font-size: 18px;
      font-weight: 600px;
    }
  }
}
.icon-list {
  display: inline;
  float: right;
  li {
    display: inline;
    line-height: 90px;
    font-size: 18px;
    margin-left: 18px;
  }
}
