span.pink {
  background-color: $pink;
  color: $white;
  border-radius: 3px;
  padding: 3px 10px;
 }
 span.purple {
  background-color: $primary;
  color: $white;
  border-radius: 3px;
  padding: 4px 16px;
}
